/* page setup */

body {
  font-family:serif;
  font-size:12pt;
  background-color:#ecf8d7;
  width:80%;
  max-width:800pt;
  margin:auto;
  margin-top:4em;
}


/* headings */

h1,h2,h3,h4,h5,h6 {
  color:#435781;
  font-family:sans-serif;
  padding-bottom:2mm;
  border-bottom:1px solid gray;
}

h1 {
  border-bottom:5px solid #ac2415;
}

h2 {
  margin-top:10mm;
  padding:0;
  padding-top:1.5mm;
  padding-bottom:1mm;
  border-bottom:2px solid #ac2415;
}


/* footnotes */

ul.footnotes {
  padding-left:10px;
  font-size:80%;
  list-style:none;
}


/* code highlighting */

div.highlight {
  font-size:95%;
  line-height:1.3em;
  margin-left:20px;
}

dt {
  font-weight:bold;
  color:#435781;
}

dd {
  margin-top:0.5ex;
  margin-bottom:2ex;
  margin-left:1em;
}

table {
  border-spacing:3px;
}

table td {
  padding:5px;
  vertical-align:middle;
}

/* we all love CSS3 */
table tr:nth-child(1) td {
  vertical-align:middle;
  font-weight:bold;
}
table tr:nth-child(1) td:nth-child(1) {
  background-color:transparent !important;
}
table td:nth-child(1) {
  font-style:italic;
}
table tr:nth-child(odd) {
  background-color:#ebecb9;
}
table tr:nth-child(even) {
  background-color:#e3eab7;
}

